# TODO: Turn some things here into dynamic GitHub Actions variables.
name: Build and Push Docker Image (for build_grapheneos)
on:
  push:
    branches:
      - master
    paths:
      - build.Dockerfile
      - scripts/build_gos.sh
      - scripts/detect_device.sh
      - scripts/extract_info_from_official_build.sh
      - scripts/find_kernel_git_tag.sh
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}
      - name: Build Docker image
        run: |
          docker build \
            -f build.Dockerfile \
            -t ghcr.io/lucasbeiler/build_grapheneos:latest .
      - name: Push Docker image
        run: docker push ghcr.io/lucasbeiler/build_grapheneos:latest
